html{
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	padding:0;
	margin:0;
}

body{
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	padding:0;
	margin:0;
}
@font-face {
  font-family: Futura;
  src: url('font/Futura-Book-Regular.otf') format("otf");
  font-weight: normal;
}

h1{
	font-size: 58px;
	margin:0;
	color:#333;
	text-align:center;
}
h1 i.fa{
font-size:3em;
color:#FFF;
transition:all 0.3s ease-in-out;
}
i.fa:hover{
color:#f00;
cursor:pointer;
transform:scale(1.2) rotate(10deg);
}
/* Global container */
.container{
	max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.container p{
	line-height: 1.6;
	font-weight: 400;
	font-family: futura book;
}
/* header */
.header {
  background-color:transparent;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  
}

.header li a {
  display: block;
  padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 32px;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  font-weight: 700;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* *******************************************************/
/* End of menu */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  border-radius: 4px;
  background: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #000000;
  margin: 10px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

.button:hover {
  background-color: rgba(0,0,0,0.1);
}

.button:active,
.button.is-checked {
  background-color: rgba(0,0,0,0.1);
  outline: none;
}

.button-group {
  margin: 20px 0;
  text-align: center;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.grid article {
  background-color: #FFFFFF;
  display: block;
  float: left;
  margin: 1%;
  width: 23%;
}

@media (max-width: 1024px) {
  .grid article {
    width: 31.3%;
  }
}

@media (max-width: 767px) {
  .grid article {
    width: 48%;
  }
}

@media (max-width: 479px) {
  .grid article {
    margin: 2% 0;
    width: 100%;
  }
}
/*  End of portfolio tab*/
/*********************************************************/


#section1{
background-color:#eee; 
}
.section-content{
/*border:1px solid #F00;*/
  width:80%;
  margin:0 auto;
  text-align:center;
}  
#section2{
background-color:rgb(238,223,252); 
}

#section3{
background-color:rgb(130,213,157); 
}
.experiences-content{
	width: 100%;
	margin: 50px 0;
	border: 1px solid #fff;
	height: 100px;
	padding: 20px;
	text-align: center;
}
.logo{
width:40%;
float: left;
}
.logo img{
	vertical-align: bottom;
}
.company{
width:55%;
float: left;
margin-left: 5%;
}
.slide{
background-size:cover;
  background-position:center;
}  
#slide1{
background-image:url(http://sites.psu.edu/siowfa15/wp-content/uploads/sites/29639/2015/10/cat.jpg);
}  
#section4{
background-color:#999; 
}
#section5{
  background-color:rgb(160,75,104); 
}
#section6{
  background-color:rgb(87, 119, 223); 
}
#fp-nav ul li a span {
  background-color: #f00;
}

.fp-slidesNav ul li a span {
  background-color: #fff;
}
